<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GoBike</title>

    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
<!--    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>-->
</head>
<body>
Welcome to GoBike. Version 0.0.2.

<div id="index_container"></div>
<!-- Load our React component. -->
<script type="module" src="main/resources/static/components/LandingPage/LandingPage.js"></script>
</body>
</html>